In [ ]:
#Ques: Discuss string slicing and provide exanples ?

In [ ]:
# string slicing is a concept of extracting the string by providing starting and end index.

In [2]:
string_1= "i am a good student "

In [3]:
string_1[0:5] # it starts from 0 and 5 will be excluded

'i am '

In [6]:
string_1[5:12] #here also it had taken the index from 5 to 11 in which 12th ndex is excluded

'a good '

In [7]:
string_1[0:] # if we do not provide the end index by default it will give the characters to the last index .

'i am a good student '

In [ ]:
# similarly

In [13]:
string_2= "pwskills" # here we want to all string except last three.

In [12]:
string_2[:-3]

'pwski'

In [ ]:
# if we want only last three

In [14]:
string_2[-3:]

'lls'

In [ ]:
# now we will see the syntax of slicing

In [ ]:
# ( start:end:step)

In [16]:
string_3 = "hello world!"

In [18]:
string_3[0:5:2]

'hlo'

In [19]:
string_3[::1]

'hello world!'

In [ ]:
# reverse the string

In [20]:
string_3[::-1]

'!dlrow olleh'

In [ ]:
# thus this is all abot the slicing concept .

In [ ]:
# QUES : Explain the key features of list in python ?

In [ ]:
#  Answer: list is a ordered collection of items,

# it uses the large brackets []

# its like a shopping bag.

In [25]:
grocery_list = ["milk" ,"orange", 1, 2.2 ,"true", 5+8j ]

In [26]:
type(grocery_list)

list

In [ ]:
# slicing can be done in list same as string which i performed in previous qustions.

In [27]:
grocery_list[0:]

['milk', 'orange', 1, 2.2, 'true', (5+8j)]

In [ ]:
# addition to list

In [32]:
lis=["apple","banana"]

In [34]:
lis.append("oranges")

In [35]:
print(lis)

['apple', 'banana', 'oranges', 'oranges']

In [ ]:
#list is mutable

In [37]:
a=["ajay"," bijay","sanjay"]

In [38]:
a[1]

' bijay'

In [41]:
a[1] = "anshika"

In [42]:
print(a)

['ajay', 'anshika', 'sanjay']

In [ ]:
# addition of the elements in different indexes

In [3]:
lis = [1,2,3]

In [5]:
lis.insert(1,"5")

In [6]:
print(lis)

[1, '5', 2, 3]

In [9]:
bus_seat = [ "ajay","aman","kishan"] # here we inserted the khushi in between " aman " and " kishan"
bus_seat.insert(2,"khushi")
print(bus_seat)

['ajay', 'aman', 'khushi', 'kishan']

In [ ]:
# extend operation to append elements from the another list

In [10]:
my_list = [" apple","banana","orange"]
brothers_list = ["brinjal","potato"]
my_list.extend(brothers_list)
print(my_list)

[' apple', 'banana', 'orange', 'brinjal', 'potato']

In [ ]:
# repetition operation

In [ ]:
# no of times want to repeat

In [11]:
"*" * 5

'*****'

In [12]:
msg = " your appointment is tommorow \n"
print(msg*5)

 your appointment is tommorow
 your appointment is tommorow
 your appointment is tommorow
 your appointment is tommorow
 your appointment is tommorow

In [ ]:
# membership

In [13]:
grocery_list = ["ajay","sanjay","bijay","milk","butter","cheese"]
"ajay" not in grocery_list

False

In [14]:
"ajay" in grocery_list

True

In [ ]:
# in the list there is a conceptof deep copy and shallow copy 

# SHALLOW COPY : VALUE gets change with change in the another list.

# DEEP COPY : value will not change with the change of another list.

In [ ]:
# sorting of list

In [17]:
book_list = ["data structure","operating system","computer network","sws","himanshu"]
sorted(book_list)

['computer network', 'data structure', 'himanshu', 'operating system', 'sws']

In [ ]:
#length >> to find the number of elements

In [18]:
len(book_list)

5

In [ ]:
# removing

In [27]:
a = ["1","2","5","6","8","9","5","5","5"]

In [29]:
a.remove('2')

In [30]:
print(a)

['1', '5', '6', '8', '9', '5', '5', '5']

In [ ]:
# pop>> delete the last element

In [31]:
a.pop()

'5'

In [36]:
# list comprehension
# example

prices = [10,20,30,40]

[price * 2 for price in prices]

[20, 40, 60, 80]

In [ ]:
# QUES: Describe how to access ,modify and delete elements in a list with example ?

In [ ]:
# accessing of list is same as string

In [37]:
a = [12,13,"ajay","sanjay","bijay"]
a[0]

12

In [38]:
a[4]

'bijay'

In [ ]:
# addition to the list>>modifying the list

In [40]:
lis = ["potato","tomato"]
lis.append("carrot")
print(lis)

['potato', 'tomato', 'carrot']

In [41]:
# modifying the elements with the index

lis.insert(1,"brinjal")
print(lis)

['potato', 'brinjal', 'tomato', 'carrot']

In [42]:
# extend >> it append the elements from the another list

list_1 = [ " himanshu","shubhanshu","ashish","ranjana"]
list_2 = ["deva","sunny"]
list_1.extend(list_2)
print(list_1)

[' himanshu', 'shubhanshu', 'ashish', 'ranjana', 'deva', 'sunny']

In [43]:
# using remove function we can remove the items from the list

list_1.remove("ashish")
print(list_1)

[' himanshu', 'shubhanshu', 'ranjana', 'deva', 'sunny']

In [44]:
# if we want to delete the list then we use " del" fucntion
del(list_1)

In [45]:
print(list_1) # so here , we can see the list_1 is not defined , it means it is deleted

NameError: name 'list_1' is not defined

In [ ]:
# QUES: Compare and contrast list and tuple with example ?

In [ ]:
# Answer:

# LIST :


# list are ordered collection of elements >> it is used '[] '>> it is mutable.
# while , tuples are ordered collection of elements >> it is used '() '>> it is immutable.

In [46]:
# example of list 
list_1 = ["ajay","bijay","sanjay"] # example of list
type(list_1)

list

In [1]:
t = ("ajay","bijay","sanjay",2,5,(3+7j))
type(t)

tuple

In [3]:
# indexing of tuple is same as string and list

In [4]:
t[0]

'ajay'

In [ ]:
# tuples are immutable

In [5]:
t[0]

'ajay'

In [7]:
t[0] = "555" # here we can see tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [8]:
print(t)

('ajay', 'bijay', 'sanjay', 2, 5, (3+7j))

In [ ]:
# QUES : Describe the key features of set and provide the example of usecases.?

In [ ]:
# ANSWER : Sets are unordered and unique collections of elements >> it does not aloow duplicate elements.

In [ ]:
# as we know , sets are unordered collection of elements , therfore indexing cannot be done because it gives unique elements

In [ ]:
# sets are defined in the middle brackets " {} "

In [14]:
# lets take an example :

s = {}
type(s) # here we can see it  showing dictionary because we did not given any value to the "s"

dict

In [15]:
s = { "ajay","bijay","sanjay","ajay"}
type(s) # here we can see it gives set

set

In [16]:
print(s) # here we can see that elements are unique.

{'sanjay', 'ajay', 'bijay'}

In [ ]:
# USE CASES >> if we want to avoid the duplicacy we use set

In [17]:
list_1 = [ "ajay","ajay","samjay","parrot","maina","samjay"]
# if we print list , we will see it gives the duplicate elements also
print(list_1)

['ajay', 'ajay', 'samjay', 'parrot', 'maina', 'samjay']

In [ ]:
# but if we use set in place of list we will see it would not give duplicate elements.

In [19]:
s = set(list_1)

In [20]:
print(s)

{'samjay', 'ajay', 'parrot', 'maina'}

In [ ]:
# here we can see it showing only unique elements

In [ ]:
# SET IS MUTABLE

In [22]:
set_1 = {"4,5,6,8,88"}

In [23]:
set_1.add(25)

In [24]:
print(set_1) # it is not compulsory that it will add the elements to the last like in list.

{'4,5,6,8,88', 25}

In [25]:
set_1.pop()

'4,5,6,8,88'

In [26]:
set_1.pop()

25

In [ ]:
# SETS OPERATION 
# UNION >> IN THIS ALL ELEMENTS WILL BE RETUREND
# INTERSECTION >. ONLY COMMON ELEMENTS WILL RETUREND 
# DIFFERENCE >> IT REPRESENT THE ELEMENTS WHICH ARE PRESENT IN SET 1 BUT NOT IN SET 2.
# SYMMETRIC DIFFERENCE >> RETURNS THE ELEMENTS WHICH ARE NOT COMMON IN BOTH

In [ ]:
# FROZEN SET

In [ ]:
# WE CAN NOT ADD ELEMENTS AND CAN NOT REMOVE

In [37]:
S = {1,2,3} # this is normal set in which we can add the elements
S.add("55")
print(S)

{1, 2, 3, '55'}

In [ ]:
# to make it immutable we use frozen set

In [38]:
my_fs = frozenset([1,2,3,5,6,8,9,5])
my_fs.add("55")

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
# it showing error.

In [1]:
# QUES : Discuss the use case of tuple and set in python programming ?

In [3]:
# ANSWER : 

#Tuples:

#Immutability: Tuples are ordered collections of elements that cannot be modified once created. 
#Indexing and Slicing: You can access elements in a tuple using indexing (e.g., tuple[0]) and slicing (e.g., tuple[1:3]).

#Sets:

#Sets:

#Unordered Collections: Sets are collections of unique elements that are not stored in any particular order. This is useful for removing duplicates from a list or for performing set operations like union, intersection, and difference.
#Membership Testing: You can check if an element is present in a set using the in operator. This is a fast operation, even for large sets.
#Set Operations: Sets support various operations, including:
#Union: set1 | set2 creates a new set containing all elements from both sets.
#Intersection: set1 & set2 creates a new set containing elements that are present in both sets.
#Difference: set1 - set2 creates a new set containing elements that are in set1 but not in set2.
#Symmetric Difference: set1 ^ set2 creates a new set containing elements that are in either set1 or set2, but not in both.
#Adding and Removing Elements: You can add elements to a set using the add method and remove elements using the remove or discard methods. Â

In [ ]:
# QUES : how we can acess , modify and delete the elements in the dictionary ?

In [6]:
# ANSWER : #The most common way to access an item in a dictionary is by using its key.


my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Accessing the value associated with the key 'name'
name = my_dict['name']
print(name)

Alice

In [ ]:
# dictionary stores the data as key value pair 
# keys are unique and immutable so we cant modify the dictinary
# dictionaries are unordered but it retains the order of insertion.

In [15]:
my_dict['addres']='Banglore' # modifying the data

In [16]:
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'addres': 'Banglore'}

In [ ]:
# delete the elements from the dictionary

In [28]:
my_dict.update({'city': 'Los Angeles', 'occupation': 'Engineer'})
print(my_dict)

{'age': 30, 'city': 'Los Angeles', 'addres': 'Banglore', 'occupation': 'Engineer'}

In [29]:
del my_dict['occupation']
print(my_dict)

{'age': 30, 'city': 'Los Angeles', 'addres': 'Banglore'}

In [30]:
# QUES : Discuss the importance of dictionary keys being immutable and provide example ?

In [ ]:
# ANSWER >> 
# sets and list can not be used as key because they are mutable

In [ ]:
#the immutability of dictionary keys is essential for the correct and efficient operation of dictionaries in Python

In [31]:
d = { {1,2,3}:"ajay"} # it shoes unhashable tpye

TypeError: unhashable type: 'set'

In [34]:
d = {1:"ajay"}
d[1]

'ajay'

In [ ]:
d = { [1,2,]:"ajay